<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Customers</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each ="customer : ${customers}">
            <td th:utext="${customer.firstName}">...</td>
            <td th:utext="${customer.lastName}">...</td>
        </tr>
    </table>
</div>
</body>
</html>